.header-container {
  height: 100vh;
  background-color: var(--background-color);
  background-image: url(Image/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
}

#right-menu {
  width: 175px;
  text-align: right;
}

.nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--font-color);

  font-size: 36px;
}
.container {
  padding: 0px 40px;
  background-color: var(--background-color);
}
.banner-title {
  font-size: 152px;
  text-transform: uppercase;
}
.banner-title h1 {
  font-weight: 400px;
}
